{% extends "layout.twig" %}

{% block content %}

<nav class="bk-nav" id="nav">
	{{widget('extendednavigation', 'navigationheader', {"align":"left"})|raw}}
</nav>

<div role="main" id="main">
	<header class="bk-header">
	</header>
	<div class="header-profile">
		<div class="contain">
			<div class="company-logo">
				{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png'),"showTplWidget":"0"})|raw}}
				{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
			</div>
			<div class="header-prof-left">
				{{widget('profile', 'header-tweet', { 'profileType':'twitter', 'twitter':'profile', 'refreshtime':'1800000'})|raw}}
				{{widget('profile', 'header-adress', { 'profileType':'address', 'address':'profile', 'refreshtime':'1800000'})|raw}}
			</div>
			<div class="header-prof-right">
				{{widget('clicktocall', 'header-clicktocall', {phoneText: '212 6574 6736'})|raw}}
			</div>
		</div><!--end contain-->
	</div><!--end header-profile-->

	<div class="contain" id="contain">
			{{zone('main')|raw}}
	</div><!--end contain-->

	<footer class="bk-footer">
		<div class="contain">
			<div class="footer-left">
		    	{{widget('profile', 'footercolumn1socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
		    </div>
		    <div class="footer-right">
		    	{{widget('profile', 'footercolumn2copyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
		    </div>
		</div>
	</footer>
</div><!--end main-->

{% endblock %}